extends ../../layout

block public

block content
    div.container-fluid
        div.user-wrapper
            div.user-side(role="navigation")
                nav.menu
                    h3.menu-header 个人设置
                    a.menu-item(href="/settings/profile") 简介
                    a.menu-item.selected 头像
                    a.menu-item(href="/settings/account") 密码
                    a.menu-item(href="/settings/email") 电子邮件
                    a.menu-item(href="/settings/privacy") 隐私
            div.user-main.card.p-2
                div.setting-header
                    h2.setting-header-text 账号
                if (error)
                    +alert('danger',error)
                if (success)
                    +alert('success',success)
                form.user-profile-form(method="post" action="/settings/avatar")
                    div.user-avatar-box
                        img.user-avatar-img
                        label.btn.btn-info
                            input.user-avatar-btn(type="file")
                            | 选择图片
                        input.user-avatar-val(type="hidden" name="avatar")
                    div.form-group
                        input.btn.btn-primary.center-block(type="submit" value="提交")