extends ../../layout

block public

block content
    div.container-fluid
        div.user-wrapper
            div.user-side(role="navigation")
                nav.menu
                    h3.menu-header 个人设置
                    a.menu-item(href="/settings/profile") 简介
                    a.menu-item(href="/settings/account") 账户
                    a.menu-item.selected 电子邮件
                    a.menu-item(href="/settings/privacy") 隐私
            div.user-main.card.p-2
                div.setting-header
                    h2.setting-header-text 邮箱
                if (error)
                    +alert('danger',error)
                if (success)
                    +alert('success',success)
                form.user-profile-form(method="post" action="/settings/email")
                    div.form-group
                        label.user-profile-label(for="password") 密码
                        input.form-control.user-profile-input(name="password" id="password" type="password" tabindex="2" required)
                    div.form-group
                        label.user-profile-label(for="email") 原邮箱地址
                        input.form-control.user-profile-input(name="email" id="email" type="text" tabindex="2" required)
                    div.form-group
                        input.btn.btn-primary.center-block(type="submit" value="提交")