extends ../home

block home_content
    div.card.tab-list.clearfix
        h2.tabs-title
            span.glyphicon.glyphicon-th-large
            | 话题广场
        if (tabs.length != 0)
            div.list
                - var i = 1;
                each tab in tabs
                    - i++;if(i>5){i=1};
                    div.item(class="bg"+i)
                        div.content
                            a.tab-name(href="/tab/" + tab._id.toString()) #{tab.name}
                            p #{tab.collect_count} 关注 #{tab.topic_count} 文章
            +page(page,pages)
        else
            div.EmptyState
                div.EmptyState-inner
                    img(src="/public/images/error_panfish.png" alt="mascot")
                    p 空
