extends ../home

block home_content
    div.card.tab-list.clearfix
        h2.tabs-title
            span.glyphicon.glyphicon-th-large
            | 话题广场
        div.list
            each tab in tabs
                div.item
                    div.content
                        a.tab-name(href="/tab/" + tab._id.toString()) #{tab.name}
                        p #{tab.collect_count} 关注 #{tab.topic_count} 文章
        +page(page,pages)
