extends home

block home_content
    if (topics.length != 0)
        each topic in topics
            +topic_item(current_user,topic,markdown)
        +page(page,pages)
    else
        div.EmptyState.card.topic-item
            div.EmptyState-inner
                img(src="/public/images/error_panfish.png" alt="mascot")
                span 空