include ./mixins/user_badge
include ./mixins/alert

doctype html
html(lang="en")
    head

        //- meta
        meta(charset="utf-8")
        meta(name="description" content= config.description)
        meta(name="keywords" content= config.keywords)
        meta(name="author" content= config.author)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="referrer" content="always" )

        //- title
        title= title

        //- style
        link(rel='stylesheet', href='/public/stylesheets/style.css')

        //- script
        script(src="/public/libs/jquery.js")
        script(src="/public/libs/bootstrap/js/bootstrap.js")

        block public

        script(src="/public/javascripts/main.js")
    body

        //- header
        header.header
            div.container-fluid
                a.brand(href="/" aria-label="首页")
                    svg.logo(aria-hidden="true" width="88" height="24" viewBox="0 0 88 24" version="1.1")
                        path(fill-rule="evenodd" d="M85.474,15.032 C84.080,16.537 82.630,17.290 81.125,17.290 C80.196,17.290 79.429,16.937 78.826,16.232 C78.222,15.527 77.921,14.655 77.921,13.618 C77.921,11.868 78.509,10.144 79.686,8.445 C80.862,6.746 82.271,5.897 83.912,5.897 C84.997,5.897 85.877,6.314 86.552,7.148 C87.227,7.982 87.564,8.976 87.564,10.128 C87.564,11.892 86.867,13.526 85.474,15.032 ZM85.270,8.292 C84.880,7.773 84.356,7.514 83.699,7.514 C82.607,7.514 81.669,8.184 80.886,9.523 C80.103,10.863 79.711,12.139 79.711,13.353 C79.711,14.038 79.855,14.598 80.143,15.032 C80.431,15.466 80.813,15.683 81.288,15.683 C82.298,15.683 83.312,15.128 84.329,14.019 C85.347,12.911 85.855,11.678 85.855,10.322 C85.855,9.488 85.660,8.811 85.270,8.292 ZM75.286,11.074 C75.137,11.814 74.974,13.058 74.798,14.808 C74.635,16.381 74.458,17.592 74.269,18.439 C74.079,19.287 73.736,20.108 73.241,20.901 C72.746,21.695 72.153,22.290 71.461,22.686 C70.769,23.083 70.057,23.281 69.325,23.281 C68.057,23.281 66.805,22.844 65.571,21.969 C64.337,21.094 63.720,20.392 63.720,19.864 C63.720,19.531 63.845,19.365 64.096,19.365 C64.218,19.365 64.581,19.565 65.185,19.965 C66.778,21.030 68.213,21.562 69.488,21.562 C70.600,21.562 71.446,20.969 72.026,19.782 C72.605,18.595 73.000,16.822 73.211,14.462 C73.258,13.926 73.316,13.472 73.384,13.099 C73.302,13.038 73.075,13.228 72.702,13.668 C72.085,14.394 71.297,15.038 70.337,15.601 C69.377,16.164 68.487,16.446 67.667,16.446 C67.056,16.446 66.578,16.254 66.232,15.871 C65.886,15.488 65.714,14.957 65.714,14.279 C65.714,13.228 66.110,12.056 66.904,10.764 C67.697,9.472 68.808,8.345 70.235,7.382 C71.663,6.419 72.912,5.937 73.984,5.937 C74.547,5.937 75.042,6.100 75.469,6.426 C75.571,6.507 75.659,6.575 75.734,6.629 C75.856,6.717 75.971,6.895 76.079,7.163 C76.188,7.431 76.242,7.646 76.242,7.809 C76.242,7.911 76.205,8.067 76.130,8.277 C75.716,9.403 75.435,10.335 75.286,11.074 ZM73.363,7.514 C72.787,7.514 72.066,7.813 71.202,8.409 C70.337,9.006 69.498,9.881 68.684,11.034 C67.870,12.187 67.463,13.153 67.463,13.933 C67.463,14.197 67.546,14.406 67.712,14.559 C67.879,14.711 68.063,14.787 68.267,14.787 C68.870,14.787 69.659,14.476 70.632,13.852 C71.605,13.228 72.443,12.361 73.145,11.252 C73.846,10.144 74.197,9.274 74.197,8.643 C74.197,7.890 73.919,7.514 73.363,7.514 ZM62.591,16.303 C62.014,16.303 61.568,16.074 61.253,15.616 C60.938,15.159 60.688,13.936 60.505,11.949 C60.315,9.955 59.915,8.959 59.305,8.959 C58.952,8.959 58.567,9.189 58.150,9.650 C57.733,10.112 57.097,11.146 56.243,12.753 C55.117,14.910 54.390,16.137 54.061,16.435 C53.732,16.734 53.459,16.883 53.242,16.883 C52.442,16.883 52.042,16.496 52.042,15.723 C52.042,15.398 52.096,14.937 52.204,14.340 C52.577,12.292 52.764,10.132 52.764,7.860 C52.764,7.602 52.874,7.316 53.095,7.000 C53.315,6.685 53.523,6.527 53.720,6.527 C54.073,6.527 54.324,6.636 54.473,6.853 C54.622,7.070 54.697,7.507 54.697,8.165 C54.697,8.850 54.493,10.261 54.086,12.397 C53.951,13.102 53.883,13.550 53.883,13.740 C53.883,13.848 53.910,13.902 53.964,13.902 C54.066,13.902 54.537,13.092 55.378,11.471 C56.226,9.823 56.969,8.664 57.606,7.992 C58.243,7.321 58.945,6.985 59.712,6.985 C60.322,6.985 60.819,7.263 61.202,7.819 C61.585,8.375 61.865,9.389 62.041,10.861 C62.231,12.536 62.402,13.579 62.555,13.989 C62.708,14.399 62.950,14.604 63.282,14.604 C63.492,14.604 63.757,14.530 64.076,14.381 C64.130,14.354 64.171,14.340 64.198,14.340 C64.489,14.340 64.635,14.509 64.635,14.848 C64.635,15.147 64.435,15.464 64.035,15.800 C63.635,16.135 63.153,16.303 62.591,16.303 ZM50.460,2.880 C50.097,3.067 49.821,3.160 49.631,3.160 C49.488,3.160 49.380,3.008 49.305,2.702 C49.278,2.608 49.241,2.503 49.193,2.387 C49.010,1.946 48.919,1.563 48.919,1.238 C48.919,0.966 49.080,0.690 49.402,0.409 C49.724,0.127 50.082,-0.014 50.475,-0.014 C50.672,-0.014 50.892,0.063 51.136,0.215 C51.380,0.368 51.503,0.515 51.503,0.658 C51.503,0.882 51.419,1.261 51.253,1.797 C51.087,2.333 50.823,2.694 50.460,2.880 ZM49.570,7.117 C49.570,7.321 49.522,7.589 49.427,7.921 C48.919,9.711 48.603,10.993 48.481,11.766 C48.359,12.539 48.298,13.458 48.298,14.523 C48.298,15.038 48.369,15.618 48.512,16.262 C48.539,16.385 48.553,16.486 48.553,16.568 C48.553,16.690 48.441,16.847 48.217,17.041 C47.993,17.234 47.756,17.331 47.505,17.331 C46.847,17.331 46.518,16.727 46.518,15.520 C46.518,14.272 46.776,12.299 47.291,9.599 C47.467,8.657 47.556,8.077 47.556,7.860 C47.556,7.433 47.634,7.068 47.790,6.766 C47.946,6.465 48.166,6.314 48.451,6.314 C48.797,6.314 49.070,6.397 49.270,6.563 C49.470,6.729 49.570,6.914 49.570,7.117 ZM45.012,8.613 C44.728,8.613 44.467,8.487 44.229,8.236 C43.985,7.986 43.731,7.860 43.466,7.860 C42.761,7.860 41.784,8.714 40.537,10.423 C39.289,12.132 38.529,14.014 38.258,16.069 C38.190,16.598 38.061,16.947 37.871,17.117 C37.681,17.286 37.414,17.371 37.068,17.371 C36.735,17.371 36.495,17.124 36.346,16.629 C36.196,16.134 36.122,15.300 36.122,14.126 C36.122,13.808 36.139,13.106 36.173,12.021 C36.213,10.739 36.295,9.705 36.417,8.918 C36.437,8.789 36.471,8.487 36.518,8.013 C36.566,7.490 36.625,7.128 36.696,6.924 C36.768,6.721 36.913,6.531 37.134,6.354 C37.354,6.178 37.593,6.090 37.851,6.090 C38.102,6.090 38.290,6.170 38.416,6.329 C38.541,6.488 38.604,6.660 38.604,6.843 C38.604,7.107 38.536,7.480 38.400,7.962 C38.244,8.497 38.153,8.867 38.126,9.070 C38.105,9.301 38.068,9.542 38.014,9.793 C37.946,10.084 37.878,10.851 37.810,12.092 L37.800,12.468 L37.800,12.743 C37.868,12.621 37.949,12.451 38.044,12.234 C38.505,11.176 38.929,10.347 39.316,9.747 C39.702,9.147 40.128,8.572 40.593,8.023 C41.057,7.473 41.481,7.056 41.864,6.771 C42.247,6.487 42.595,6.288 42.907,6.176 C43.219,6.064 43.520,6.009 43.812,6.009 C44.402,6.009 44.884,6.187 45.257,6.543 C45.630,6.899 45.816,7.314 45.816,7.789 C45.816,7.999 45.750,8.189 45.618,8.358 C45.486,8.528 45.284,8.613 45.012,8.613 ZM32.175,17.229 C31.652,17.229 31.222,16.869 30.883,16.151 C30.544,15.432 30.374,14.408 30.374,13.078 C29.425,14.354 28.485,15.310 27.556,15.947 C26.627,16.585 25.776,16.903 25.003,16.903 C24.481,16.903 24.030,16.683 23.650,16.242 C23.270,15.801 23.081,15.235 23.081,14.543 C23.081,12.760 23.877,10.839 25.471,8.781 C27.065,6.722 28.648,5.693 30.222,5.693 C30.791,5.693 31.215,6.019 31.493,6.670 C31.581,6.887 31.720,6.995 31.910,6.995 C32.453,6.995 32.724,7.206 32.724,7.626 C32.724,7.836 32.690,8.124 32.622,8.491 C32.256,10.491 32.073,11.902 32.073,12.722 C32.073,14.364 32.385,15.347 33.009,15.672 C33.307,15.835 33.457,16.035 33.457,16.273 C33.457,16.483 33.311,16.695 33.019,16.908 C32.727,17.122 32.446,17.229 32.175,17.229 ZM29.754,7.351 C28.859,7.351 27.817,8.191 26.631,9.869 C25.444,11.547 24.851,12.940 24.851,14.045 C24.851,14.825 25.108,15.215 25.624,15.215 C26.370,15.215 27.404,14.462 28.726,12.956 C30.049,11.451 30.710,10.067 30.710,8.806 C30.710,7.836 30.391,7.351 29.754,7.351 ZM21.422,7.758 C20.439,7.819 19.534,7.904 18.706,8.013 C17.879,8.121 17.433,8.211 17.369,8.282 C17.304,8.353 17.099,9.160 16.753,10.703 C16.407,12.246 16.234,13.248 16.234,13.709 C16.234,14.455 16.333,14.952 16.529,15.199 C16.726,15.447 17.021,15.571 17.414,15.571 C17.998,15.571 18.808,15.133 19.846,14.258 C20.246,13.899 20.554,13.719 20.771,13.719 C21.063,13.719 21.209,13.875 21.209,14.187 C21.209,14.676 20.739,15.308 19.800,16.084 C18.861,16.861 17.899,17.249 16.916,17.249 C15.275,17.249 14.454,16.283 14.454,14.350 C14.454,13.652 14.624,12.570 14.963,11.105 C15.295,9.647 15.461,8.772 15.461,8.480 C15.461,8.379 15.380,8.328 15.217,8.328 L14.159,8.419 C13.291,8.419 12.857,8.074 12.857,7.382 C12.857,6.989 13.057,6.792 13.457,6.792 L15.553,6.792 C15.695,6.792 15.821,6.727 15.929,6.599 C16.038,6.470 16.197,6.037 16.407,5.302 C16.618,4.566 16.804,3.838 16.967,3.120 C17.130,2.407 17.448,2.051 17.923,2.051 C18.215,2.051 18.442,2.153 18.605,2.357 C18.767,2.560 18.849,2.750 18.849,2.926 C18.849,3.021 18.727,3.506 18.483,4.381 L17.893,6.517 C18.591,6.463 19.249,6.399 19.866,6.324 C20.476,6.256 20.985,6.222 21.392,6.222 C21.907,6.222 22.233,6.270 22.368,6.365 C22.504,6.460 22.572,6.626 22.572,6.863 C22.572,7.412 22.189,7.711 21.422,7.758 ZM10.467,5.429 C10.467,4.527 10.233,3.976 9.765,3.776 C9.297,3.576 8.713,3.476 8.015,3.476 C6.577,3.476 5.274,3.759 4.104,4.325 C2.934,4.891 2.349,5.571 2.349,6.365 C2.349,6.934 2.608,7.431 3.127,7.855 C3.646,8.279 4.777,8.745 6.520,9.254 C8.208,9.742 9.410,10.245 10.126,10.764 C10.841,11.283 11.199,11.909 11.199,12.641 C11.199,13.380 10.701,14.179 9.704,15.037 C8.707,15.895 7.505,16.547 6.098,16.995 C4.690,17.442 3.495,17.666 2.512,17.666 C1.691,17.666 1.069,17.570 0.645,17.376 C0.221,17.183 0.009,16.941 0.009,16.649 C0.009,16.446 0.072,16.196 0.197,15.901 C0.323,15.606 0.450,15.459 0.579,15.459 C0.715,15.459 0.854,15.483 0.996,15.530 C1.722,15.801 2.441,15.937 3.153,15.937 C4.434,15.937 5.794,15.562 7.232,14.813 C8.669,14.064 9.388,13.363 9.388,12.712 C9.388,12.434 9.170,12.168 8.732,11.914 C8.295,11.659 7.188,11.251 5.411,10.688 C3.207,9.990 1.852,9.310 1.347,8.648 C0.842,7.987 0.589,7.290 0.589,6.558 C0.589,5.147 1.399,4.010 3.020,3.145 C4.641,2.280 6.337,1.848 8.107,1.848 C9.280,1.848 10.182,2.046 10.812,2.443 C11.443,2.840 11.759,3.279 11.759,3.760 C11.759,3.991 11.687,4.327 11.545,4.767 C11.403,5.208 11.043,5.429 10.467,5.429 Z")
                        defs
                            linearGradient(id="logo_x" x1="0%" y1="0%" x2="100%" y2="0%")
                                stop(offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1")
                                stop(offset="100%" style="stop-color:rgb(255,0,255);stop-opacity:1")
                nav(role="navigation")
                    ul
                        li
                            a(href="/" aria-label="首页") 首页
                        li
                            a(href="/tabs" aria-label="话题") 话题
                div.header-search(role="search")
                    form(action="/search" method="get")
                        input(type="text" name="q" autocomplete="off" placeholder="Search" aria-label="")
                        span.glyphicon.glyphicon-search
                if (current_user)
                    div.header-user-btn-group
                        a( href="/messages").btn-normal.header-user-msg-btn
                            span.glyphicon.glyphicon-bell
                            if (current_user.messages_count > 0)
                                - if (current_user.messages_count > 99) current_user.messages_count = '99+';
                                span.new-msg-count #{current_user.messages_count}
                        div.header-user-profile.dropdown
                            button.dropdown-toggle.btn-normal(type="button" data-toggle="dropdown" aria-expanded="false")
                                img.header-user-avatar(src= current_user.avatar)
                                span.caret
                            ul.dropdown-menu.user-dropdown-menu
                                li.arrow
                                li.dropdown-text #{current_user.username}
                                li.divider(role="separator")
                                li
                                    a(href="/topic/create")
                                        span.glyphicon.glyphicon-pencil
                                        | 发布主题
                                li
                                    a(href="/user/" + current_user.username)
                                        span.glyphicon.glyphicon-home
                                        | 我的主页
                                li.divider(role="separator")
                                li
                                    a(href="/settings/profile")
                                        span.glyphicon.glyphicon-cog
                                        | 设置
                                li
                                    a(href="/logout")
                                        span.glyphicon.glyphicon-log-out
                                        | 退出

                else
                    div.header-link
                        a.header-login(href='/login') 登录
                        span.login-join
                        a.header-join(href='/join') 注册


        //- 内容
        div(role="main")
            block content

        //- footer
        footer
            ul
                li
                    span.copy &copy; 2017 #{config.name}. All Rights Reserved
                li
                    a(href="/") 申请认证
                li
                    a(href="/") 隐私

            a(href="/")
                svg.logo(aria-hidden="true" width="88" height="24" viewBox="0 0 88 24" version="1.1")
                    path(fill-rule="evenodd" d="M85.474,15.032 C84.080,16.537 82.630,17.290 81.125,17.290 C80.196,17.290 79.429,16.937 78.826,16.232 C78.222,15.527 77.921,14.655 77.921,13.618 C77.921,11.868 78.509,10.144 79.686,8.445 C80.862,6.746 82.271,5.897 83.912,5.897 C84.997,5.897 85.877,6.314 86.552,7.148 C87.227,7.982 87.564,8.976 87.564,10.128 C87.564,11.892 86.867,13.526 85.474,15.032 ZM85.270,8.292 C84.880,7.773 84.356,7.514 83.699,7.514 C82.607,7.514 81.669,8.184 80.886,9.523 C80.103,10.863 79.711,12.139 79.711,13.353 C79.711,14.038 79.855,14.598 80.143,15.032 C80.431,15.466 80.813,15.683 81.288,15.683 C82.298,15.683 83.312,15.128 84.329,14.019 C85.347,12.911 85.855,11.678 85.855,10.322 C85.855,9.488 85.660,8.811 85.270,8.292 ZM75.286,11.074 C75.137,11.814 74.974,13.058 74.798,14.808 C74.635,16.381 74.458,17.592 74.269,18.439 C74.079,19.287 73.736,20.108 73.241,20.901 C72.746,21.695 72.153,22.290 71.461,22.686 C70.769,23.083 70.057,23.281 69.325,23.281 C68.057,23.281 66.805,22.844 65.571,21.969 C64.337,21.094 63.720,20.392 63.720,19.864 C63.720,19.531 63.845,19.365 64.096,19.365 C64.218,19.365 64.581,19.565 65.185,19.965 C66.778,21.030 68.213,21.562 69.488,21.562 C70.600,21.562 71.446,20.969 72.026,19.782 C72.605,18.595 73.000,16.822 73.211,14.462 C73.258,13.926 73.316,13.472 73.384,13.099 C73.302,13.038 73.075,13.228 72.702,13.668 C72.085,14.394 71.297,15.038 70.337,15.601 C69.377,16.164 68.487,16.446 67.667,16.446 C67.056,16.446 66.578,16.254 66.232,15.871 C65.886,15.488 65.714,14.957 65.714,14.279 C65.714,13.228 66.110,12.056 66.904,10.764 C67.697,9.472 68.808,8.345 70.235,7.382 C71.663,6.419 72.912,5.937 73.984,5.937 C74.547,5.937 75.042,6.100 75.469,6.426 C75.571,6.507 75.659,6.575 75.734,6.629 C75.856,6.717 75.971,6.895 76.079,7.163 C76.188,7.431 76.242,7.646 76.242,7.809 C76.242,7.911 76.205,8.067 76.130,8.277 C75.716,9.403 75.435,10.335 75.286,11.074 ZM73.363,7.514 C72.787,7.514 72.066,7.813 71.202,8.409 C70.337,9.006 69.498,9.881 68.684,11.034 C67.870,12.187 67.463,13.153 67.463,13.933 C67.463,14.197 67.546,14.406 67.712,14.559 C67.879,14.711 68.063,14.787 68.267,14.787 C68.870,14.787 69.659,14.476 70.632,13.852 C71.605,13.228 72.443,12.361 73.145,11.252 C73.846,10.144 74.197,9.274 74.197,8.643 C74.197,7.890 73.919,7.514 73.363,7.514 ZM62.591,16.303 C62.014,16.303 61.568,16.074 61.253,15.616 C60.938,15.159 60.688,13.936 60.505,11.949 C60.315,9.955 59.915,8.959 59.305,8.959 C58.952,8.959 58.567,9.189 58.150,9.650 C57.733,10.112 57.097,11.146 56.243,12.753 C55.117,14.910 54.390,16.137 54.061,16.435 C53.732,16.734 53.459,16.883 53.242,16.883 C52.442,16.883 52.042,16.496 52.042,15.723 C52.042,15.398 52.096,14.937 52.204,14.340 C52.577,12.292 52.764,10.132 52.764,7.860 C52.764,7.602 52.874,7.316 53.095,7.000 C53.315,6.685 53.523,6.527 53.720,6.527 C54.073,6.527 54.324,6.636 54.473,6.853 C54.622,7.070 54.697,7.507 54.697,8.165 C54.697,8.850 54.493,10.261 54.086,12.397 C53.951,13.102 53.883,13.550 53.883,13.740 C53.883,13.848 53.910,13.902 53.964,13.902 C54.066,13.902 54.537,13.092 55.378,11.471 C56.226,9.823 56.969,8.664 57.606,7.992 C58.243,7.321 58.945,6.985 59.712,6.985 C60.322,6.985 60.819,7.263 61.202,7.819 C61.585,8.375 61.865,9.389 62.041,10.861 C62.231,12.536 62.402,13.579 62.555,13.989 C62.708,14.399 62.950,14.604 63.282,14.604 C63.492,14.604 63.757,14.530 64.076,14.381 C64.130,14.354 64.171,14.340 64.198,14.340 C64.489,14.340 64.635,14.509 64.635,14.848 C64.635,15.147 64.435,15.464 64.035,15.800 C63.635,16.135 63.153,16.303 62.591,16.303 ZM50.460,2.880 C50.097,3.067 49.821,3.160 49.631,3.160 C49.488,3.160 49.380,3.008 49.305,2.702 C49.278,2.608 49.241,2.503 49.193,2.387 C49.010,1.946 48.919,1.563 48.919,1.238 C48.919,0.966 49.080,0.690 49.402,0.409 C49.724,0.127 50.082,-0.014 50.475,-0.014 C50.672,-0.014 50.892,0.063 51.136,0.215 C51.380,0.368 51.503,0.515 51.503,0.658 C51.503,0.882 51.419,1.261 51.253,1.797 C51.087,2.333 50.823,2.694 50.460,2.880 ZM49.570,7.117 C49.570,7.321 49.522,7.589 49.427,7.921 C48.919,9.711 48.603,10.993 48.481,11.766 C48.359,12.539 48.298,13.458 48.298,14.523 C48.298,15.038 48.369,15.618 48.512,16.262 C48.539,16.385 48.553,16.486 48.553,16.568 C48.553,16.690 48.441,16.847 48.217,17.041 C47.993,17.234 47.756,17.331 47.505,17.331 C46.847,17.331 46.518,16.727 46.518,15.520 C46.518,14.272 46.776,12.299 47.291,9.599 C47.467,8.657 47.556,8.077 47.556,7.860 C47.556,7.433 47.634,7.068 47.790,6.766 C47.946,6.465 48.166,6.314 48.451,6.314 C48.797,6.314 49.070,6.397 49.270,6.563 C49.470,6.729 49.570,6.914 49.570,7.117 ZM45.012,8.613 C44.728,8.613 44.467,8.487 44.229,8.236 C43.985,7.986 43.731,7.860 43.466,7.860 C42.761,7.860 41.784,8.714 40.537,10.423 C39.289,12.132 38.529,14.014 38.258,16.069 C38.190,16.598 38.061,16.947 37.871,17.117 C37.681,17.286 37.414,17.371 37.068,17.371 C36.735,17.371 36.495,17.124 36.346,16.629 C36.196,16.134 36.122,15.300 36.122,14.126 C36.122,13.808 36.139,13.106 36.173,12.021 C36.213,10.739 36.295,9.705 36.417,8.918 C36.437,8.789 36.471,8.487 36.518,8.013 C36.566,7.490 36.625,7.128 36.696,6.924 C36.768,6.721 36.913,6.531 37.134,6.354 C37.354,6.178 37.593,6.090 37.851,6.090 C38.102,6.090 38.290,6.170 38.416,6.329 C38.541,6.488 38.604,6.660 38.604,6.843 C38.604,7.107 38.536,7.480 38.400,7.962 C38.244,8.497 38.153,8.867 38.126,9.070 C38.105,9.301 38.068,9.542 38.014,9.793 C37.946,10.084 37.878,10.851 37.810,12.092 L37.800,12.468 L37.800,12.743 C37.868,12.621 37.949,12.451 38.044,12.234 C38.505,11.176 38.929,10.347 39.316,9.747 C39.702,9.147 40.128,8.572 40.593,8.023 C41.057,7.473 41.481,7.056 41.864,6.771 C42.247,6.487 42.595,6.288 42.907,6.176 C43.219,6.064 43.520,6.009 43.812,6.009 C44.402,6.009 44.884,6.187 45.257,6.543 C45.630,6.899 45.816,7.314 45.816,7.789 C45.816,7.999 45.750,8.189 45.618,8.358 C45.486,8.528 45.284,8.613 45.012,8.613 ZM32.175,17.229 C31.652,17.229 31.222,16.869 30.883,16.151 C30.544,15.432 30.374,14.408 30.374,13.078 C29.425,14.354 28.485,15.310 27.556,15.947 C26.627,16.585 25.776,16.903 25.003,16.903 C24.481,16.903 24.030,16.683 23.650,16.242 C23.270,15.801 23.081,15.235 23.081,14.543 C23.081,12.760 23.877,10.839 25.471,8.781 C27.065,6.722 28.648,5.693 30.222,5.693 C30.791,5.693 31.215,6.019 31.493,6.670 C31.581,6.887 31.720,6.995 31.910,6.995 C32.453,6.995 32.724,7.206 32.724,7.626 C32.724,7.836 32.690,8.124 32.622,8.491 C32.256,10.491 32.073,11.902 32.073,12.722 C32.073,14.364 32.385,15.347 33.009,15.672 C33.307,15.835 33.457,16.035 33.457,16.273 C33.457,16.483 33.311,16.695 33.019,16.908 C32.727,17.122 32.446,17.229 32.175,17.229 ZM29.754,7.351 C28.859,7.351 27.817,8.191 26.631,9.869 C25.444,11.547 24.851,12.940 24.851,14.045 C24.851,14.825 25.108,15.215 25.624,15.215 C26.370,15.215 27.404,14.462 28.726,12.956 C30.049,11.451 30.710,10.067 30.710,8.806 C30.710,7.836 30.391,7.351 29.754,7.351 ZM21.422,7.758 C20.439,7.819 19.534,7.904 18.706,8.013 C17.879,8.121 17.433,8.211 17.369,8.282 C17.304,8.353 17.099,9.160 16.753,10.703 C16.407,12.246 16.234,13.248 16.234,13.709 C16.234,14.455 16.333,14.952 16.529,15.199 C16.726,15.447 17.021,15.571 17.414,15.571 C17.998,15.571 18.808,15.133 19.846,14.258 C20.246,13.899 20.554,13.719 20.771,13.719 C21.063,13.719 21.209,13.875 21.209,14.187 C21.209,14.676 20.739,15.308 19.800,16.084 C18.861,16.861 17.899,17.249 16.916,17.249 C15.275,17.249 14.454,16.283 14.454,14.350 C14.454,13.652 14.624,12.570 14.963,11.105 C15.295,9.647 15.461,8.772 15.461,8.480 C15.461,8.379 15.380,8.328 15.217,8.328 L14.159,8.419 C13.291,8.419 12.857,8.074 12.857,7.382 C12.857,6.989 13.057,6.792 13.457,6.792 L15.553,6.792 C15.695,6.792 15.821,6.727 15.929,6.599 C16.038,6.470 16.197,6.037 16.407,5.302 C16.618,4.566 16.804,3.838 16.967,3.120 C17.130,2.407 17.448,2.051 17.923,2.051 C18.215,2.051 18.442,2.153 18.605,2.357 C18.767,2.560 18.849,2.750 18.849,2.926 C18.849,3.021 18.727,3.506 18.483,4.381 L17.893,6.517 C18.591,6.463 19.249,6.399 19.866,6.324 C20.476,6.256 20.985,6.222 21.392,6.222 C21.907,6.222 22.233,6.270 22.368,6.365 C22.504,6.460 22.572,6.626 22.572,6.863 C22.572,7.412 22.189,7.711 21.422,7.758 ZM10.467,5.429 C10.467,4.527 10.233,3.976 9.765,3.776 C9.297,3.576 8.713,3.476 8.015,3.476 C6.577,3.476 5.274,3.759 4.104,4.325 C2.934,4.891 2.349,5.571 2.349,6.365 C2.349,6.934 2.608,7.431 3.127,7.855 C3.646,8.279 4.777,8.745 6.520,9.254 C8.208,9.742 9.410,10.245 10.126,10.764 C10.841,11.283 11.199,11.909 11.199,12.641 C11.199,13.380 10.701,14.179 9.704,15.037 C8.707,15.895 7.505,16.547 6.098,16.995 C4.690,17.442 3.495,17.666 2.512,17.666 C1.691,17.666 1.069,17.570 0.645,17.376 C0.221,17.183 0.009,16.941 0.009,16.649 C0.009,16.446 0.072,16.196 0.197,15.901 C0.323,15.606 0.450,15.459 0.579,15.459 C0.715,15.459 0.854,15.483 0.996,15.530 C1.722,15.801 2.441,15.937 3.153,15.937 C4.434,15.937 5.794,15.562 7.232,14.813 C8.669,14.064 9.388,13.363 9.388,12.712 C9.388,12.434 9.170,12.168 8.732,11.914 C8.295,11.659 7.188,11.251 5.411,10.688 C3.207,9.990 1.852,9.310 1.347,8.648 C0.842,7.987 0.589,7.290 0.589,6.558 C0.589,5.147 1.399,4.010 3.020,3.145 C4.641,2.280 6.337,1.848 8.107,1.848 C9.280,1.848 10.182,2.046 10.812,2.443 C11.443,2.840 11.759,3.279 11.759,3.760 C11.759,3.991 11.687,4.327 11.545,4.767 C11.403,5.208 11.043,5.429 10.467,5.429 Z")

            ul
                li
                    a(href="/") 意见反馈
                li
                    a(href="/") 联系我们
                li
                    a(href="/") 帮助
                li
                    a(href="/") 关于