extends layout
include ../mixins/topic_item
include ../mixins/page

block user_content
    if (collections.length != 0)
        each collect in collections
            +topic_item(current_user,collect.topic,markdown)
        +page(page,pages)
    else
        div.EmptyState
            div.EmptyState-inner
                img(src="/public/images/error_panfish.png" alt="mascot")
                p 空