extends layout
include ../mixins/user_item
include ../mixins/page

block user_content
    if (follower.length != 0)
        each f in follower
            +user_item(f.user,current_user)
        +page(page,pages)
    else
        div.EmptyState
            div.EmptyState-inner
                img(src="/public/images/error_panfish.png" alt="mascot")
                p 空