extends layout
include ../mixins/user_item
include ../mixins/page

block user_content
    if (following.length != 0)
        each f in following
            +user_item(f.following,current_user)
        +page(page,pages)
    else
        div.EmptyState
            div.EmptyState-inner
                img(src="/public/images/error_panfish.png" alt="mascot")
                span 空