extends layout
include ../mixins/topic_item
include ../mixins/page

block user_content
    if (topics.length != 0)
        each topic in topics
            +topic_item(current_user,topic,markdown)
        +page(page,pages)
    else
        div.EmptyState
            div.EmptyState-inner
                img(src="/public/images/error_panfish.png" alt="mascot")
                span 空





