svg {
    fill: currentColor
}

svg.logo {
    fill: url(#logo_x);
}

body.sign {
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-image: linear-gradient(180deg, rgba(27, 31, 35, 0.065), rgba(27, 31, 35, 0));
    background-repeat: no-repeat;
    background-size: 100% 200px;
}

header.sign {
    padding-top: 32px;
    padding-bottom: 24px;
    text-align: center;
}

.auth-form {
    width: 340px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.auth-form label {
    display: block;
}

.auth-form label .label-link {
    float: right;
    font-size: 12px;
}

.auth-form input {
    margin-top: 5px;
    margin-bottom: 15px;
}

.auth-form-header {
    margin-bottom: 15px;
    color: #337ab7;
    text-align: center;
}

.auth-form-header > h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.auth-form-body {
    margin-top: 16px;
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}

.btn-form {
    width: 100%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    background-color: #2e6da4;
    background-image: linear-gradient(-180deg, #337ab7 0%, #2e6da4 90%);
}

.btn-form:hover,
.btn-form:focus {
    background-color: #2c65a1;
    background-image: linear-gradient(-180deg, #2e77b2 0%, #2c65a1 90%);
    border-color: rgba(27, 31, 35, 0.5);
}

.auth-form-footer {
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}

.auth-form-footer .create-account-callout {
    margin-bottom: 0;
}

footer.sign {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 12px;
}

footer.sign > ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

footer.sign > ul > li {
    margin-right: 16px;
}

footer.sign > ul > li > a {
    color: #586069;
    transition: color .2s;
}

footer.sign > ul > li > a:hover {
    color: #0366d6;
    text-decoration: none;
}

.join-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    color: #337ab7;
    text-align: center;
}

.join-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .join-secondary {
        display: none;
    }
}

.join-wrapper > .join-main {
    width: 450px;
}

.join-form-title h2 {
    font-size: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    margin-top: 0;
}

.join-main .form-group .form-control {
    margin-bottom: 0;
}

.auth-form .note,
.join-form .note {
    min-height: 17px;
    margin: 4px 0 2px;
    font-size: 12px;
    color: #586069;
}

.join-main .tos-info {
    padding: 15px 0;
    margin: 15px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.join-wrapper > .join-secondary {
    width: 250px;
    margin-left: 100px;
}

.join-info-module {
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
}

.join-info-module h2 {
    padding: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}

.join-secondary .features-list {
    padding: 0 15px 15px;
    margin: 0;
    font-size: 14px;
    list-style: none;
}

.join-secondary .features-list li {
    margin-top: 10px;
}

.join-secondary .features-list li:first-child {
    margin-top: 0;
}

.join-secondary .features-list .divider {
    margin: 15px -15px;
    border-top: 1px solid #eee;
}

.join-secondary .features-list .icon {
    margin-right: 5px;
    color: #60b044;
}

.join-form .ajax-loading {
    padding-right: 30px;
    background-image: url("/public/images/ajax-loading.gif");
    background-repeat: no-repeat;
    background-position: right 8px center;
}

.join-form .ajax-error {
    padding-right: 30px;
    background-image: url("/public/images/error.png");
    background-repeat: no-repeat;
    background-position: right 8px center;
}

.join-form .ajax-success {
    padding-right: 30px;
    background-image: url("/public/images/success.png");
    background-repeat: no-repeat;
    background-position: right 8px center;
}