extends ../home
include ../mixins/user_item

block home_content
    div.card.search-header
        form.search-form
            div.search-inner
                input.search-input(type="search" name="q" value= q placeholder='搜索' autocomplete='off')
                button.search-btn(type='submit')
                    span.glyphicon.glyphicon-search
                    span 搜索
        div.search-nav
            div.search-nav-body
                if (type === 'topic')
                    span.item.active(role="presentation") 文章
                else
                    a.item(role="presentation" href="/search?type=topic&q=" + q) 文章
                if (type === 'user')
                    span.item.active(role="presentation") 用户
                else
                    a.item(role="presentation" href="/search?type=user&q=" + q) 用户

    if (topics)
        if (topics.length !== 0)
            each topic in topics
                +topic_item(current_user,topic,markdown)
            div.card
                +page(page,pages)
        else
            div.EmptyState.card.topic-item
                div.EmptyState-inner
                    img(src="/public/images/error_panfish.png" alt="mascot")
                    p 没有找到相应文章
    if (users)
        if (users.length != 0)
            each user in users
                div.card
                    +user_item(user,current_user)
            div.card
                +page(page,pages)
        else
            div.EmptyState.card.topic-item
                div.EmptyState-inner
                    img(src="/public/images/error_panfish.png" alt="mascot")
                    p 没有找到相应用户